/* -- PARTICLES -- */

#particles-js {
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: url("");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; }

canvas {
  background-color: black;
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  min-height: 100vh; }