/* -- LAYOUT -- */

html {
  background-color: darkgoldenrod;
  font-family: 'Beth Ellen', monospace;}



/* -- PARTICLES -- */

#particles-js {
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: url("");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; }

/* -- Liberosis Title -- */

#titleCard {
  color: darkgoldenrod;
  font-family: 'Beth Ellen', monospace;}

.main-nav a {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: goldenrod;
  text-decoration: none;
  font-family: 'Beth Ellen', monospace;}

ul h3 {
  margin: 0;
  padding: 0;
  text-align: center;
  display: none;
  font-size: 115%;
  animation: colorNav 3s ease-in-out; }

/* -- BUTTON -- */

#menuButton {
  background: linear-gradient(to bottom, #b8870b 5%, #2b2a28 100%);
  background-color: #b8870b;
  border-radius: 42px;
  color: black;
  font-size: 24px;
  padding: 15px 1px;
  text-decoration: none;
  font-family: 'Beth Ellen', cursive;
  border: none; }

#menuButton:hover {
  background: linear-gradient(to bottom, #2b2a28 5%, #b8870b 100%);
  background-color: #2b2a28; }

#menuButton:active {
  position: relative;
  top: 1px; }

div .button {
  margin-top: 1%; }


/* -- CIRCLE of PHENAKISTOSCOPES -- */

.circle-container {
  position: relative;
  /* 1 */
  width: 25em;
  height: 25em;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  /* 2 */
  box-sizing: content-box;
  /* 3 */
  margin: 5em auto 0;
  padding: 0;
  border: 3px rgba(black, 0.1);
  box-sizing: border-box;
  display: grid;
  background-image: linear-gradient(rgba(255, 0, 0, 0), darkgoldenrod);
  text-align: center; }
  .circle-container > * {
    /* 4 */
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8em;
    height: 8em;
    margin: -4em;
    }
  .circle-container > :nth-of-type(1) {
    transform: rotate(0deg) translate(12.5em) rotate(0deg); }
  .circle-container > :nth-of-type(2) {
    transform: rotate(51.4285714286deg) translate(12.5em) rotate(-51.4285714286deg); }
  .circle-container > :nth-of-type(3) {
    transform: rotate(102.8571428571deg) translate(12.5em) rotate(-102.8571428571deg); }
  .circle-container > :nth-of-type(4) {
    transform: rotate(154.2857142857deg) translate(12.5em) rotate(-154.2857142857deg); }
  .circle-container > :nth-of-type(5) {
    transform: rotate(205.7142857143deg) translate(12.5em) rotate(-205.7142857143deg); }
  .circle-container > :nth-of-type(6) {
    transform: rotate(257.1428571429deg) translate(12.5em) rotate(-257.1428571429deg); }
  .circle-container > :nth-of-type(7) {
    transform: rotate(308.5714285714deg) translate(12.5em) rotate(-308.5714285714deg); }

.circle-container img {
  display: block;
  width: 100%;
  border-radius: 50%;
  filter: grayscale(100%);
  -webkit-transition: all 5s linear;
  -moz-transition: all 5s linear;
  -ms-transition: all 5s linear;
  transition: all 5s linear; }
  .circle-container img:hover {
    filter: grayscale(0);
    transform: rotate(-11650deg) scale(1.8); }

/* -- ANIMATIONS -- */

@keyframes colorful {
  from {
    filter: hue-rotate();
    transform: scale(1); }
  to {
    filter: hue-rotate(1440deg);
    transform: scale(3); } }
@keyframes colorNav {
  from {
    filter: hue-rotate(); }
  to {
    filter: hue-rotate(-1turn); } }

/* -- BREAKPOINTS -- */

@include media-breakpoint-up(sm) {

}

@include media-breakpoint-up(md) {

}

@include media-breakpoint-up(lg) {

}


/* SASS originally used for .circle-container ----

/// --- CIRCLE SASS for img --- \\\

/// Mixin to put items on a circle
/// [1] - Allows children to be absolutely positioned, if relative it turns off particles
/// [2] - Allows the mixin to be used on a list
/// [3] - In case box-sizing: border-box has been enabled
/// [4] - Allows any type of direct children to be targeted
/// 
/// @param {Integer} $nb-items - Number or items
/// @param {Length} $circle-size - Container size
/// @param {Length} $item-size - Item size
/// @param {String | false} $class-for-IE - Base class name for old IE

@mixin distribute-on-circle( 
  $nb-items,
  $circle-size,
  $item-size,
  $class-for-IE: false
) {
  $half-item: ($item-size / 2);
  $half-parent: ($circle-size / 2);
  
  position: relative; / 1 /
  width:  $circle-size;
  height: $circle-size;
  padding: 0;
  border-radius: 50%; 
  list-style: none; / 2 / 
  box-sizing:content-box; / 3 / 
  
  > * { / 4 /
    display: block;
    position: absolute;
    top:  50%; 
    left: 50%;
    width:  $item-size;
    height: $item-size;
    margin: -$half-item;
  }
  
  $angle: (360 / $nb-items);
  $rot: 0;

  @for $i from 1 through $nb-items {
    @if not $class-for-IE {
      > :nth-of-type(#{$i}) {
        transform: rotate($rot * 1deg) translate($half-parent) rotate($rot * -1deg);
      }
    } @else {
      > .#{$class-for-IE}#{$i} {
        // If CSS transforms are not supported
        $mt: sin($rot * pi() / 180) * $half-parent - $half-item;
        $ml: cos($rot * pi() / 180) * $half-parent - $half-item;
        margin: $mt 0 0 $ml;
      }
    }

    $rot: ($rot + $angle);
  }
}

/// --- LIBEROSIS main page circle container --- ////

.circle-container {
  @include distribute-on-circle(7, 25em, 8em, false); 
 /// margin: 10% 40% 30% 40%;
  margin: 5em auto 0;
  border: none 3px black;
  box-sizing: border-box;
  display:grid;
  background-image: linear-gradient(rgba(255,0,0,0), darkgoldenrod);
  text-align: center;
  }

.circle-container img { 
  display:block; 
  width: 100%; 
  border-radius: 50%;
  filter: grayscale(100%);
  -webkit-transition: all 5s linear;
  -moz-transition: all 5s linear;
  -ms-transition: all 5s linear;
  transition: all 5s linear;
  
  &:hover {
    filter: grayscale(0);
    transform: rotate(-11650deg) scale(1.8);
 ///   transform: scale(1.8);
///    animation: spinscale 1s infinite linear;
  }
}

*/