html {
  background-color: darkgoldenrod;
}


canvas{
  background-color: black;
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  min-height: 100vh;
}

.container {
  font-family: 'Beth Ellen', cursive;
}

//// --- Liberosis TITLE Card --- //////

#titleCard {
  text-align: left;
  color: darkgoldenrod;
}


//// --- Navigation TOGGLE BUTTON --- ///////

#menuButton {
	background:linear-gradient(to bottom, #b8870b 5%, #2b2a28 100%);
	background-color:#b8870b;
	border-radius:42px;
	color:black;
	font-size:24px;
	padding:15px 1px;
	text-decoration:none;
    font-family: 'Beth Ellen', cursive;
    border: none;
    ///margin-left: 25%;
}addadde

#menuButton:hover {
  	background:linear-gradient(to bottom, #2b2a28 5%, #b8870b 100%);
	background-color:#2b2a28;
}

#menuButton:active {
  position: relative;
  top: 1px;
}

div .button {
  margin-top: 1%;
}

///--- PARTICLES.JS CSS --- \\\

#particles-js {
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}