/* -- LAYOUT -- */

html {
  background-color: black;
  font-family: 'Beth Ellen', 'VT323', monospace;}


body {
  background-color: black;
}

/* -- PARTICLES -- */

/* #particles-js {
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: url("");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; } */

.particles-js-canvas-el {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: auto;
  }


/* -- Liberosis Title -- */

#titleCard {
  color: darkgoldenrod;
  font-family: 'Beth Ellen', monospace;}

.main-nav a {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: goldenrod;
  text-decoration: none;
  font-family: 'Beth Ellen', monospace;}

ul h3 {
  margin: 0;
  padding: 0;
  text-align: center;
  display: none;
  font-size: 115%;
  animation: colorNav 3s ease-in-out; }


/* -- BUTTON -- */

#menuButton {
  background: linear-gradient(to bottom, darkgoldenrod 5%, black 100%);
  background-color: #b8870b;
  border-radius: 42px;
  color: black;
  font-size: 24px;
  padding: 15px 1px;
  text-decoration: none;
  font-family: 'Beth Ellen', cursive;
  border: none; }

#menuButton:hover {
  background: linear-gradient(to bottom, #2b2a28 5%, #b8870b 100%);
  background-color: #2b2a28; }

#menuButton:active {
  position: relative;
  top: 1px; }

div .button {
  margin-top: 1%; }


/// --- CIRCLE SASS for img --- \\\

/// Mixin to put items on a circle
/// [1] - Allows children to be absolutely positioned, if relative it turns off particles
/// [2] - Allows the mixin to be used on a list
/// [3] - In case box-sizing: border-box has been enabled
/// [4] - Allows any type of direct children to be targeted
/// 
/// @param {Integer} $nb-items - Number or items
/// @param {Length} $circle-size - Container size
/// @param {Length} $item-size - Item size
/// @param {String | false} $class-for-IE - Base class name for old IE

@mixin distribute-on-circle( 
  $nb-items,
  $circle-size,
  $item-size,
  $class-for-IE: false
) {
  $half-item: ($item-size / 2);
  $half-parent: ($circle-size / 2);
  
  position: relative; /* 1 */
  width:  $circle-size;
  height: $circle-size;
  padding: 0;
  border-radius: 50%; 
  list-style: none; /* 2 */ 
  box-sizing:content-box; /* 3 */ 
  
  > * { /* 4 */
    display: block;
    position: absolute;
    top:  50%; 
    left: 50%;
    width:  $item-size;
    height: $item-size;
    margin: -$half-item;
  }
  
  $angle: (360 / $nb-items);
  $rot: 0;

  @for $i from 1 through $nb-items {
    @if not $class-for-IE {
      > :nth-of-type(#{$i}) {
        transform: rotate($rot * 1deg) translate($half-parent) rotate($rot * -1deg);
      }
    } @else {
      > .#{$class-for-IE}#{$i} {
        // If CSS transforms are not supported
        $mt: sin($rot * pi() / 180) * $half-parent - $half-item;
        $ml: cos($rot * pi() / 180) * $half-parent - $half-item;
        margin: $mt 0 0 $ml;
      }
    }

    $rot: ($rot + $angle);
  }
}

/// --- LIBEROSIS main page circle container --- ////

.circle-container {
  @include distribute-on-circle(7, 25em, 8em, false); 
 /// margin: 10% 40% 30% 40%;
  margin: 5em auto 0;
  border: none 3px black;
  box-sizing: border-box;
  display:grid;
  background-image: radial-gradient(darkgoldenrod, rgba(255, 0, 0, 0) 70%, rgba(255, 0, 0, 0));
  }

.circle-container img { 
  display:block; 
  text-align: center;
  width: 100%; 
  border-radius: 50%;
  filter: grayscale(100%);
  -webkit-transition: all 5s linear;
  -moz-transition: all 5s linear;
  -ms-transition: all 5s linear;
  transition: all 5s linear;
  
  &:hover {
    filter: grayscale(0);
    transform: rotate(-11650deg) scale(1.8);
 ///   transform: scale(1.8);
///    animation: spinscale 1s infinite linear;
  }
}

/* -- ANIMATIONS: index -- */

@keyframes colorful {
  from {
    filter: hue-rotate();
    transform: scale(1); }
  to {
    filter: hue-rotate(1440deg);
    transform: scale(3); } }
@keyframes colorNav {
  from {
    filter: hue-rotate(); }
  to {
    filter: hue-rotate(-1turn); } }

/* -- TAROT CARD IMG -- */

#myFortune {
  display: block;
  margin: auto;
  animation: colorShadow 10s linear infinite;
  z-index: 2;
  box-shadow: 0px 0px 70px 0px yellow;
}

/* -- ANIMATIONS: tarot --*/

@keyframes colorShadow {
  from {
    filter: hue-rotate();
  } to {
    filter: hue-rotate(1440deg);
  }
}

/* TITLE: tarot */
#tarotTitle {
  font-family: 'IM Fell English', serif;
  text-align: center;
  text-transform: uppercase;
  color: darkgoldenrod;
}

/* Words for Card Descriptions */

#words {
  border: 5px inset goldenrod;
  color: darkgoldenrod;
  font-family: 'IM Fell English', serif;
  margin: 2% 20%;
  text-align: center;
}

/* ----------- SPEAK up MENU ------------- */

.speakup {
  font-family: 'VT323', monospace;
  padding: 2rem;
  height: 100%;
  margin: 0 auto;
  border-radius: 1rem;
  position: relative;
  background: black;
  overflow: hidden;
  z-index: 1;
}

.speakContent a:link, 
a:visited {
  color: white;
  text-decoration: none;
  text-align: center;
}

.speakContent a:hover,
a:active {
  color:blueviolet;
  transition: color 0.2s;
}

.speakContent {
  line-height: 200%;
}

.speakTitle {
    border-bottom: 5px double white; 
    text-shadow: 0 0 12px white, 0 0 40px white, 0 0 30px white;
}

.speakTitle a:link, a:visited { 
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 2rem;
  letter-spacing: .2rem; 
}

.speakTitle a:hover, a:active {
  color: red;
  transition: color 0.2s;
}

.videoContainer {
  border-top: 5px double white;
}

/* ----------- Say Her Name ------------- */

#sayTitle {
  border-bottom: 5px solid white;
  text-align: center;
  font-size: 5rem;
  font-weight: 100;
  font-family: 'VT323', monospace; 
  text-shadow: 0 0 12px white, 0 0 40px white, 0 0 30px white;
}

#sayHerNamePage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), 75%, black), url('/img/smashfist.png');
  background-repeat: repeat;
  background-size: 10%;
}

#actions {
  list-style-type: none;
  font-family: 'VT323', monospace;
  color: white;
  font-size: 1rem;
}

.speakup input,
.speakup button,
.speakup select,
.speakup p {
  width: 100%;
  display: block;
  margin: 10px 0;
  padding: 10px;
  border: 0;
  font-size: 2rem;
  background: white;
  outline: 0;
  font-family: 'VT323', monospace;
}

.speakup button {
  border: 2px solid black;
  width: 47.9%;
  float: left;
  display:block;
  font-family: 'VT323', monospace;
  margin-bottom: 0;
  font-size: 2rem;

  cursor: pointer;
  position: relative;
}

.speakup button:active {
  top: 2px;
}

.speakup button:nth-of-type(1) {
  margin-right: 2%;
}

#speak {
  background: green;
  margin-right: 5px;
}

#stop {
  background: red;
  margin-left: 5px;
}

label {
  color: white;
  font-family: monospace;
  font-size: 1.3rem;
}

/* ----------- Drum Page ------------------------ */

.drumTitle {
  font-family: 'Press Start 2P', monospace;
  padding-top: 5%;
  color: black;
  text-shadow: 0 0 12px coral, 0 0 40px hotpink;
}

.keys {
  width: 100vw;
  display: block;
  text-align: center;
  padding-top: 10%;
}

.key {
  transition: all 0.07s;
  display: inline-block;
  background-color: black;
  border-radius: 4px;
  border-width: 4px;
  border-color: coral;
  border-style: solid;
  font-family: 'Press Start 2P', monospace;
  color: white;
}


.keydown {
  transform: scale(0.9);
  filter: hue-rotate(1440deg);
  border-color: hotpink;
  z-index: -1;
}

.letter{
  font-family: 'Press Start 2P', monospace;
  color: white;
  font-size: 30px;
}


.drumPage {
  background:
    linear-gradient(160deg, rgba(255, 0, 0, .8), rgba(255,0,0,0) 20%),
    linear-gradient(112deg, rgba(238, 225, 36, .8), rgba(0,255,0,0) 70.71%),
    linear-gradient(70deg, rgba(0,0,255, .8), rgba(0,0,255,0) 70.71%),
    linear-gradient(-30deg, rgba(248,135,6, .8), rgba(0,0,255,0) 70.71%),
    radial-gradient(lawngreen 0%, black 75%);
  height: 100%;
}

.drumHTML {
  height: 100%;
}

/*-- TAO stuff --*/



/*=== Media Queries ===

@media (max-width: 500px){
    
    .speakup button {
      display: inline-block;
      width: 98%;
    }
    #speak,
    #stop {
      margin-bottom: 0;
      margin-right: .4%;
      margin-left: .4%;
    }
    .speakup {
    padding: 2rem;
    width: 50rem;
    }
  
  }

*/


/* -- BREAKPOINTS -- */