/*-- == MOON == --*/


/*#moonBody {
  background-image: url(/././img/moons/celestial_chart_moon.jpg);
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center;
  height: 100vh;
  background-attachment: fixed;
  color: black;
  text-shadow: 0 0 10px bisque;*/
}

#phaseDiv h2 {
  text-transform: uppercase;
}


body {
  background-color: black;
}

* {
  font-family: "IM Fell English", serif;
  color: bisque;
  box-sizing: border-box;
}

.imageDiv {
  position: relative;
  width: 100%;
  
}

#celestial {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  transition: .5s cubic-bezier(0.7, 0.2, 0.5, 1.0);
  opacity: 0;
  background: rgba(0,0,0,0.8);
}

.imageDiv:hover .overlay{
  opacity: 1;
}

.textDiv {
  text-align: center;
}

